[Desktop Entry]
Categories=Development;
Comment=Integrated Development Environment
Exec=eclipse
GenericName=Integrated Development Environment
Icon=/home/evolver/Desktop/Icon-Eclipse.png
Name=Eclipse IDE
Terminal=false
Type=Application
X-XFCE-Source=file:///run/current-system/sw/share/applications/Eclipse.desktop
Path=
StartupNotify=false
